numpy
pandas
scikit-learn
catboost
pandas-datareader
yfinance
requests
tensorflow
keras
xgboost
hyperopt
optuna
mlflow
cvxpy
pyportfolioopt
backtrader
quantlib
empyrical
alpaca-trade-api
ib_insync
dash
matplotlib
seaborn
plotly
tqdm
streamlit
scikit-learn
lxml